* {
    margin: 0;
}

#paragrafos {
    
    background-color: red;

}

#sub-div {
    background-color: yellow;
}

#titulo {
    color: rgb(74, 211, 56);
}

.texto_verde {
    color: green;    
}


.container {
    width: 250px;
    height: 250px;
    background-color: red;
}

.insider {
    width: 70%;
    height: 20%;
    background-color: blue;
}

#cm {
    background-color: blue;
    width: 1cm;
    height: 1cm;
}
#mm {
    background-color: red;
    width: 1mm;
    height: 1mm;
}
#in {
    background-color: green;
    width: 1in;
    height: 1in;
}
#px {
    background-color: yellow;
    width: 10px;    
    height: 10px;
}
#pt {
    background-color: aquamarine;
    width: 10pt;
    height: 10pt;
}
#pc { 
    background-color: bisque;
    width: 1pc;
    height: 1pc;
}

#base {
    height: 10px;
    background-color: red;
  
}

#content {
    background-color: rgb(75, 82, 79);
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
    
    