body {
    background-color: aquamarine;
}

.header {
    position: relative;
    margin: 50px auto;
    width: 80%;
    background-color: gray;
    height: 100px;
}

.content {
    position: absolute;
    margin: auto;
    width: 70%;
    height: 70%;
    background-color: blue;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content > p {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}