* {
    margin: 0;
    padding: 0;
}

.square2 {
    width: 160px;
    height: 160px;
    background-color: aquamarine;
    border: 10px solid blue;
    box-sizing: border-box;
    margin: 10px;
}

.square {
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    background-color: aquamarine;
    border: 10px solid blue;
  
}