html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes changeColor { 

    from {
        background-color: #06588b;
    } to {
        background-color: #0aa01e;
    }

}

.container {
    background-color: #2a282876;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 20rem;
    height: 20rem;
    border: 0.3rem solid #000;
    animation: changeColor 10s ease-in-out;
}