@font-face {
    font-family: minhafont;
    src: url(../fonts/IndieFlower-Regular.ttf);
    font-style: italic;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    font-family: 'minhafont', sans-serif;
}
