/* Pega o elemento que está abaixo do seletor 
   Abaixo da div3 tem outra div chamada depois-da-div3
*/
#div3 + .depois-da-div3 {
    width: 50px;
    height: 50px;
    background-color: crimson;
}

/* todo elemento que tiver um atributo width será selecionado */
[width='100'] {
    color: blue;
}

/* todo elemento que tiver um atributo title que tenha a palavra titulo será selecionado */
[title~='titulo'] {
    background-color: gray;
}

/* todo elemento que tiver um atributo title que comece com a letra t será selecionado */
[title^='t'] {
    color: rgb(12, 226, 65);
}

/* todo elemento que termine com o numero 1*/
[title$='1'] {
    background-color: rgb(226, 43, 43);
}

/* todo elemento que tenha o atributo paragrafo em qualquer lugar será selecionado*/
[title*='paragrafo'] {
    background-color: rgb(43, 183, 226);
    color: white;
}